
@{
    ViewBag.Title = "Branching";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Branching</h2>
<p>You can find information on how to create, connect to, and commit changes for branches. You can also find information on how to merge a branch back to the master branch.</p>



