
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Git Index</h2>

<p>Information about Git can be found here.</p>
<p>Commands</p>
<p><a href="commands.cshtml">Commands List</a></p>